*{
box-sizing: border-box;
margin: 0%;
padding: 0%;
}
.Rectrangulo{
width: 900px;
height: 250px;
background-color: rgb(18, 159, 253);
}
.Titulo_1{
width:900px;
height: 250px;
justify-content: space-between;
}

